@charset "UTF-8";

/* Bootstrap Overrides */
html, body {
    height: 100%;
    background-color: rgba(99, 123, 158, 0.92);
   
   
}
body {
    font-family: Optima, Helvetica, Arial, sans-serif;
    background: #eee;
    background-color: rgba(0, 74, 106, 0.92);

}

fieldset > legend {
    border-bottom: 1px gainsboro solid;
}

[class*="-dark"]:not(.text-dark), [class*="-dark"]:not(.text-dark) * {
    color: rgba(255,255,255,0.8) !important;
    background-color: #111313 !important;
}

[class*="-dark"]:not(.text-dark) *:hover {
    color: rgba(255,255,255,1.0) !important;
}





.navbar-brand {
    font-size: 2.2rem;
}

.logo-idm {
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("images/logo_large.png");
    width: 6%;
    height: 40px;
    vertical-align: middle;


}
.logo-idm:after {
    content: 'ICI';
    color: transparent;
    font-size: smaller;
}

/* Themify Icon Overrides*/

/* Custom Classes */









/* Element Specific Styles*/
#app {
    display: grid;
    height: 100%;
    grid-template-columns: 100%;
    grid-template-rows: min-content auto min-content;
    grid-template-areas:
            "header"
            "content"
            "footer";
}
#app > header {
    grid-area: header;
}
#app > footer {
    grid-area: footer;
}

#app > footer img.logo {
    max-height: 1.5em;
}
#app > .content {
    grid-area: content;
    margin: 0;
    display: flex;
    grid-template-columns: 2fr 4fr;
    grid-template-rows: 100%;
    grid-template-areas:
        "sidebar results";
    max-height: 100%;
    grid-column-gap: 1em;
    justify-content: start;
    background-color: rgba(0, 74, 106, 0.92);

}

#app > .content > .sidebar {
    display: block;
    position: relative !important;
    width: initial;
    height: auto !important;
    grid-area: sidebar;
    margin: 0;
    background-color: rgba(0, 74, 106, 0.92);
    width: 35%;


}

/*
#app > .content > .results {
    grid-area: results#app > .content {
    grid-area: content;
    margin: 0;
    display: flex;
    grid-template-columns: 2fr 4fr;
    grid-template-rows: 100%;
    grid-template-areas:
        "sidebar results";
    max-height: 100%;
    grid-column-gap: 1em;
    justify-content: start;
    background-color: rgba(0, 74, 106, 0.92);

};
    max-height: 800px;



#app > .content.sidebar-closed {
    grid-template-columns: auto 1fr;
}
#app > .content.sidebar-closed > .sidebar {
    grid-area: none;
}

}*/
#app > .content > .results.empty {
    justify-self: stretch;
    align-self: center;
    text-align: center;
}

#app > .content > .sidebar .card-header .btn-link {
    text-decoration: none;
}





#ptransmi {
    border: solid 2px black;
    border-radius: 90px;
  }

.afficher{
    margin-top: 30px;
    justify-content: center;
}

.navbar.navbar-black.bg-black.navbar-expand {
    width: 95%;
    justify-content: center;
    margin: 0 auto;
    display: flex;
  }

  #graphs{
    width: 63%;
}

  @media (max-width: 1024px) {
    .navbar.navbar-black.bg-black.navbar-expand {
        flex-wrap: wrap;
    }
    #graphs{
        width: 90%;
        margin: 0 auto;
        margin-top: 30px;
        height: 600px;
    }
   
      .logo-idm {
        width: 75px;
        padding-top: 20px;
        margin-right: 15px;
      }
      #app > .content {
        flex-wrap: wrap;
    }
    #app > .content > .sidebar{
        width: 90%;
        margin: 0 auto !important;
    }
    #run_btn {
        margin-bottom: 15px;
      }
      .navbar-nav.ml-auto {
        margin: 0 auto;
      }
   

      

}

@media (max-width: 640px) {
	#graphs{
        width: 90%;
        margin: 0 auto;
        margin-top: 30px;
        height: 600px;
    }
    .navbar-brand {
        font-size: 18px;
      }
	.navbar-nav.ml-auto {
        font-size: 12px;
      }
      .logo-idm {
        width: 75px;
        padding-top: 20px;
        margin-right: 15px;
      }
    
.navbar.navbar-black.bg-black.navbar-expand {
    flex-wrap: wrap;
}
}

