<template>
 <!-- cette page n'est pas utilisée dans le projet  -->
  <div class="about">
    <Formulaire />
  </div>
</template>

<script>
import Formulaire from '@/components/Formulaire.vue'

export default {
  name: 'AboutView',
  components: {
    Formulaire
  }
}
</script>
