<template>
<body>
  <div class="home">     <!-- ici j'essaie de recopier le header de l'application ICI de base -->
  <div class="header">
  <img src="../assets/logo_large.png">
  <h1 class="simulateur">Simulateur ICI - Etude de la propagation du SARS-Cov-2 sur une population synthétique</h1>
   </div>
  <div class="menudroite">
   <div class="menu">
    <b-nav-item href="https://ici.saclay.inria.fr/index.html" >Accueil - </b-nav-item>
     <b-nav-item v-b-modal.about>A propos - </b-nav-item>
     <b-nav-item v-b-modal.faq>FAQ - </b-nav-item>
     <b-nav-item v-b-modal.propos>Equipe scientifique - </b-nav-item>
  <b-nav-item href="https://gitlab.inria.fr/ici/ici_simulateur.jl" target="_blank">Accès au code source</b-nav-item> 
    </div>
    </div>
    <b-modal id="about" ok-only ok-variant="secondary" ok-title="Fermer">
      <template v-slot:modal-title>A propos de Simulateur ICI - Etude sur la Covid-19</template>
      <p> Le projet Simulateur ICI - Etude sur la Covid-19 (INRIA - Collaboration - IGN) est un simulateur de propagation d’épidémies, particulièrement adapté au COVID-19, reposant sur une modélisation très détaillée d’un espace urbain et de sa population correspondante, permettant d'étudier l'effet des mesures sanitaires sur la diffusion de l'épidémie. </p>
      <p> La modélisation de l'espace géographique est réalisée à l'échelle même de l'individu, appartenant à un ménage et un habitat, fréquentant des points d'intérêts, un lieu de travail, ainsi que sur les caractéristiques démographiques des individus (type de ménage, sexe, âge) et de leurs habitudes de déplacement (trajets domicile/travail, loisirs, etc.). </p>
      <p> Afin d'avoir une représentation géographique la plus précise et la plus enrichie, de très nombreuses sources de données sont croisées (IGN, INSEE, OpenStreetMap, Agence Parisienne d'URbanisme (APUR), opérateurs mobiles, RATP, Enquêtes de déplacements, comptage de véhicules). </p>
    </b-modal>
      <b-modal id="faq" size="lg" ok-only ok-variant="secondary" ok-title="Fermer">
      <template v-slot:modal-title>Aide et FAQ sur l'interface graphique </template>
      <p> <b> Peut-on sauvegarder les graphes ? </b>  </p> 
      <p> Il est possible de sauvegarder les graphiques affichés à l'aide de la boîte à outil présente en haut à droite du graphique en cliquant sur le logo appareil photo. Le graphique est alors enregistré au format png.</p>            
    </b-modal>
     <b-modal id="propos" ok-only ok-variant="secondary" ok-title="Ok">
      <template v-slot:modal-title>Equipe scientifique </template>
       <ul>
                                    <li> <b> Denis Talay </b> : Directeur de Recherche INRIA. Coordinateur du projet et REPI de l'équipe INRIA/ASCII de Saclay. Initiateur et responsable du développement du simulateur. </li>
                                    <li> <b> Maxime Colomb </b> : Post-doctorant en charge de la partie Données du simulateur. </li>
                                    <li> <b> Nicolas Gilet </b> : Ingénieur de Recherche en charge du code de calcul du simulateur. </li>
                                </ul>
                                <HR width=100% align="center"> </hr> 
                                <ul>    
                                    <li> <b> Aline Carneiro-Viana </b> : Directrice de Recherche INRIA SIF. Co-responsable de SafeCityMap et référent pour l’utilisation des données d’opérateurs mobiles.</li>
                                    <li> <b> Josselin Garnier </b> : Professeur et chercheur à l'Ecole Polytechnique. Référent étude de variabilité des modèles. </li>
                                    <li> <b> Sébastien Gilles </b> : Ingénieur de Recherche au SED INRIA Saclay. Appuis et conseils pour l'ingénierie du projet. </li>
                                    <li> <b> Carl Graham</b> : Chargé de Recherche CNRS à l'Ecole Polytechnique. Référent modélisation mathématique.  </li>
                                    <li> <b> Laura Grigori </b> : Directrice de Recherche à l'INRIA. Référente pour la distribution parallélisée des simulations et le High Performance Computing. </li>
                                    <li> <b> Julien Perret </b> : Directeur de Recherche à l'IGN. Responsable du développement des données spatiales. </li>
                                    <li> <b> Milica Tomasevic</b> : Chargée de Recherche CNRS à l'Ecole Polytechnique. Référente pour la modélisation et la simulation numérique. </li>
                                    <li> <b> Razvan Stanica</b> : Chargé de Recherche à l'INSA Lyon. Co-responsable de SafeCityMap et référent pour l’utilisation des données d’opérateurs mobiles.</li>
                                </ul>
    </b-modal>
    
    <Formulaire /> <!-- ici j'intègre mon composant Formulaire.vue qui comporte mes relations avec le back end  -->
    <HelloWorld msg="Welcome to Your Vue.js App"/>
  </div>
  </body>
</template>

<script>
// @ is an alias to /src
import HelloWorld from '@/components/HelloWorld.vue'
import Formulaire from '@/components/Formulaire.vue'

export default {
  name: 'HomeView',
  components: {
    Formulaire,
    HelloWorld
  }
}
</script>

<style>
body{
  background-color : rgba(0, 74, 106, 0.92) !important;
}
b-nav-item{
    border-bottom: 1px solid black;
}
.header > img{
   width : 100px;
   margin-right : 50px;
}
.header{
   display: flex;
   width : 95%;
   justify-content : center;
   align-items : center;
   padding-top : 20px;
   color: skyblue;
}
.simulateur{
  font-size : 32px;
  font-weight : normal;
}
.menu{
  width : 100%;
  display: flex;
  justify-content: center;
  margin-top : 20px;
  list-style: none;
}
.menu > h3{
  margin-right : 10px;
  color : #007bff;
}
.menu > h3:hover{
  color : blue;
}
.sousmenu{
   font-size : 20px;
  font-weight : normal;
}
.menudroite{
   display : flex;
  justify-content : flex-end;
}
</style>
