
<template>
 <!-- cette page contient l'intégralité du formulaire utilisé pour communiquer avec la base de données  -->
<div class="body">
<form class="form" action="/test" method="POST"> 
<!--   --> <!-- tentative d'envoie de la valeur au backend avec un formulaire et une méthode post -->
<div class="formulaire">
<div class="bannière">
    <b-button class="afficher" @click="Afficher_pop();Afficher_ICI();">Afficher</b-button>  <!-- appel d'une méthode qui éxécute la fonction d'affichage  -->
</div><br>
<h1 class="paramètres">Choix des paramètres du modèle</h1><br>
<div class="droit"> <h4 class="sélection"> (attention, toutes les courbes ne sont pas encore disponibles)</h4></div>
<div class="bannière">
<label for="pet-select">Choix de la zone géographique</label>
</div><br>
<div class="droit"> <h4 class="sélection">Sélection de la zone géographique (<i>code insee</i>) </h4>  </div>
<select v-model="item.quartier" name="pets" id="sigma-select"> <!-- j'utilise la propriété vue v-model pour associer une valeur à ma structure item ici le quartier  -->
    <option v-for="item in graph_name" v-bind:key="item"> {{item}} </option>   
</select>
<br><br> 
<b-button v-b-modal.modal-1 @click="Afficher_pop()">En savoir plus sur la zone géographique</b-button>  <!-- ici je créer une méthode qui éxécute la fonction enregistrer plus bas lorsqu'on clique sur le bouton  -->

<b-modal id="modal-1" size="lg" ok-only ok-variant="secondary" ok-title="Fermer">
      <template v-slot:modal-title> Choix du quartier </template>
       <p align="center"> <iframe id="urbData" :title="'Modélisation urbaine dans le '+item.quartier+' arrondissement de Paris'" width="60%" height="500" :src="'../arr/urb/'+item.quartier+'th.html'" allow="fullscreen"></iframe></p>
       <p align="center"> <iframe id="popSynthData" :title="'Population synthétique dans le '+item.quartier+' arrondissement de Paris'" width="60%" height="500" :src="'../arr/popSynth/'+item.quartier+'th.html'" allow="fullscreen"></iframe></p>
       <h4>Statistiques agrégées</h4> 
       <p>La population entière de la zone <b>{{item.quartier}}</b> est constituée de <b>{{item.nb_pop}}</b> individus. </p>
       <br><br>
       
       <p> Cette population est répartie selon la classe d'âge de la façon suivante :  </p>
 
       <table>
   <tr>
       <th>Classe d'âge</th>
       <th>0-2</th>
       <th>3-5</th>
       <th>6-10</th>
       <th>11-17</th>
       <th>18-24</th>
       <th>25-39</th>
       <th>40-54</th>
       <th>55-64</th>
       <th>65-79</th>
       <th>80+</th>
   </tr>

   <tr>
       <th>Nombre d'individus</th>
       <td>{{pop.per_age["0_2"]}}</td>
       <td>{{pop.per_age["3_5"]}}</td>
       <td>{{pop.per_age["6_10"]}}</td>
       <td>{{pop.per_age["11_17"]}}</td>
       <td>{{pop.per_age["18_24"]}}</td>
       <td>{{pop.per_age["25_39"]}}</td>
       <td>{{pop.per_age["40_54"]}}</td>
       <td>{{pop.per_age["55_64"]}}</td>
       <td>{{pop.per_age["65_79"]}}</td>
       <td>{{pop.per_age["80p"]}}</td>
   </tr>
</table>
<br> 
  <p>La population est répartie selon les occupations et les flux de la manière suivante : </p>

  <table>
   <tr>
       <th></th>
       <th>Entrant</th>
       <th>Sortant</th>
       <th>Restant</th>
       <th>Total</th>
   </tr>

   <tr>
       <th>Ecolier</th>
       <td>{{pop.per_occup_flux["Entrant_Ecolier"]}}</td>
       <td>{{pop.per_occup_flux["Sortant_Ecolier"]}}</td>
       <td>{{pop.per_occup_flux["Quartier_Ecolier"]}}</td>
       <td>{{pop.per_occup_flux["Ecolier"]}}</td>
   </tr>

   <tr>
       <th>Etudiant</th>
       <td>{{pop.per_occup_flux["Entrant_Etudiant"]}}</td>
       <td>{{pop.per_occup_flux["Sortant_Etudiant"]}}</td>
       <td>{{pop.per_occup_flux["Quartier_Etudiant"]}}</td>
       <td>{{pop.per_occup_flux["Etudiant"]}}</td>
   </tr>

   <tr>
       <th> Actif </th>
       <td>{{pop.per_occup_flux["Entrant_Actif"]}}</td>
       <td>{{pop.per_occup_flux["Sortant_Actif"]}}</td>
       <td>{{pop.per_occup_flux["Quartier_Actif"]}}</td>
       <td>{{pop.per_occup_flux["Actif"]}}</td>
   </tr>

   <tr>
       <th> Mi-temps </th>
       <td>{{pop.per_occup_flux["Entrant_Mi-temps"]}}</td>
       <td>{{pop.per_occup_flux["Sortant_Mi-temps"]}}</td>
       <td>{{pop.per_occup_flux["Quartier_Mi-temps"]}}</td>
       <td>{{pop.per_occup_flux["Mi-temps"]}}</td>
   </tr>

   <tr>
       <th> Non-employé </th>
       <td>{{pop.per_occup_flux["Entrant_Non-employé"]}}</td>
       <td>{{pop.per_occup_flux["Sortant_Non-employé"]}}</td>
       <td>{{pop.per_occup_flux["Quartier_Non-employé"]}}</td>
       <td>{{pop.per_occup_flux["Non-employé"]}}</td>
   </tr>

   <tr>
       <th> Retraite </th>
       <td>{{pop.per_occup_flux["Entrant_Retraite"]}}</td>
       <td>{{pop.per_occup_flux["Sortant_Retraite"]}}</td>
       <td>{{pop.per_occup_flux["Quartier_Retraite"]}}</td>
       <td>{{pop.per_occup_flux["Retraite"]}}</td>
   </tr>

</table>

    </b-modal>

<br><br> 

<!-- <div class="bannière">
<label for="pet-select">Choix de la version du simulateur:</label>
</div><br> --> 
<!--<select v-model="item.v_code" name="pets" id="sigma-select"> --> <!-- j'utilise la propriété vue v-model pour associer une valeur à ma structure item ici le quartier  -->   
<!--<option v-for="item in version_simulateur" v-bind:key="item"> {{item}} </option> -->   <!-- les valeurs sont ici remplis à la main  -->
<!-- </select>
<br><br> -->

<!--<tr v-for "utilisateur_alias in item">
  <td></td>
  </tr>-->
 <!--<label for="n_days">Probabilité de transmission <b-icon  v-b-modal.transmi icon="exclamation-circle-fill" variant="info"></b-icon> : </label>
                  <b-form-input id="ptransmi" v-model="item.probability" type="range" min="0.005" max="0.9" step="0.005"></b-form-input>--> <!-- ici c'est l'ancien moyen de sélection de la probabilité de transmission avec la barre de sélection -->
   <div class="bannière">
    <label>Paramètres de la loi de contamination individu-individu</label></div><br>
 <div class="droit"> <h4 class="sélection"> La loi de contamination individu-individu est la suivante :  </h4>  <b-icon v-b-modal.model  icon="exclamation-circle-fill" variant="info"> </b-icon></div>
   <center> <img src="../images/formule_proba_v2.png" width=70% vertical-align="middle" /> </center> 

 <b-modal id="model" size="lg" ok-only ok-variant="secondary" ok-title="Fermer">
      <template v-slot:modal-title> Equation de contamination individu-individu </template> 
      Les contaminations individu-individu se situant dans <b>un même lieu au même moment </b> sont calculées à l'aide d'un <b>facteur de transmission</b> propre à chaque individu. Cette équation est également paramétrée par une <b>distance individu-individu </b>, ainsi que par <b>une durée de contact</b> entre les individus, via la formule suivante :       
      <center> <img src="../images/formule_proba_v2.png" width=60% vertical-align="middle" /> </center>
    <p> A noter que dans la simulation, les contaminations peuvent avoir lieu en dehors de la zone géographique. C'est le cas lorsque les individus venant dans la zone géographique
      pour travailler/étudier mais également le cas lorsque que les habitants de la zone géographique sortent pour y travailler/étudier. A chaque fin de journée, un taux d'incidence est 
      calculé dans chaque type de lieux (ménage, travail, etc.) et est appliqué aux individus sortant de la zone. </p>
    </b-modal>

    <div class="droit"> <h4 class="sélection"> ---------------------------------------- </h4>  </div>
   <div class="droit"> <h4 class="sélection"> Facteur de transmission </h4>  <b-icon v-b-modal.transmi  icon="exclamation-circle-fill" variant="info"> </b-icon> </div>
                  <select v-model="item.probability" id="proba-select">  <!-- ici j'initialise ma probabilité  -->
                  // eslint-disable-next-line
                  <option v-for="item in mu_prob" v-bind:key="item"> {{item}} </option>  <!-- je boucle sur les valeurs de mon tableau ou sont contenu les valeurs de mon backend afin de les afficher une par une -->
                  </select>
                  <b-modal id="transmi" size="lg" ok-only ok-variant="secondary" ok-title="Fermer">
      <template v-slot:modal-title> Equation de contamination - facteur de transmission </template>
          
      Le <b>facteur de transmission </b>correspond à la moyenne de la loi normale modélisant cette probabilité de transmission.                            
    </b-modal>
    <br><br>
<div class="droit"> <h4 class="sélection">Distance minimale de contact entre individus [en mètre] </h4>  <b-icon v-b-modal.distance  icon="exclamation-circle-fill" variant="info"> </b-icon> </div>
                  <select v-model="item.dist" id="dist-select">  <!-- ici j'initialise ma probabilité  -->
                  // eslint-disable-next-line
                  <option v-for="item in dist_contact" v-bind:key="item"> {{item}} </option>  <!-- je boucle sur les valeurs de mon tableau ou sont contenu les valeurs de mon backend afin de les afficher une par une -->
                  </select>
                  <b-modal id="distance" size="lg" ok-only ok-variant="secondary" ok-title="Fermer">
      <template v-slot:modal-title> Equation de contamination - distance minimale de contact </template> 
      La <b>distance minimale de contact </b>est utilisée comme paramètre du modèle pour modéliser la distance individu-individu dans chaque type de lieux (ménage, travail, achat, loisirs, etc.).
      Cette distance est modélisée par une <b>loi uniforme</b> avec pour borne inférieure la distance minimale de contact, notée dmin, et une borne supérieure dépendant du type de lieux : 
      <ul>
        <li> Ménage : [dmin,dmin+3]</li>
        <li> Travail (collègues proches) : [dmin,dmin+3]</li>
        <li> Travail (reste de l'entreprise) : [dmin+1,dmin+10]</li>
        <li> Points d'intérêts (achat, loisir, etc.) : [dmin, dmin+5]</li>
      </ul>
    </b-modal>
    <br><br>
    <div class="droit"> <h4 class="sélection"> Temps minimal de contact entre individus [en heure]  </h4>  <b-icon v-b-modal.time  icon="exclamation-circle-fill" variant="info"> </b-icon> </div>
                  <select v-model="item.time" id="time-select">  <!-- ici j'initialise ma probabilité  -->
                  // eslint-disable-next-line
                  <option v-for="item in time_contact" v-bind:key="item"> {{item}} </option>  <!-- je boucle sur les valeurs de mon tableau ou sont contenu les valeurs de mon backend afin de les afficher une par une -->
                  </select>
                  <b-modal id="time" size="lg" ok-only ok-variant="secondary" ok-title="Fermer">
      <template v-slot:modal-title> Equation de contamination - Temps minimal de contact entre individus </template>
       Les contaminations individu-individu se situant dans un même lieu au même moment sont calculées à l'aide d'une loi de probabilité de transmission propre à chaque individu. Cette équation est également paramétrée par la distance individu-indivud, ainsi que par la durée de contact, via la formule suivante :       
      <center> <img src="../images/formule_proba_v2.png" width=60% vertical-align="middle" /> </center>
       Le temps minimal de contact est utilisée comme paramètre du modèle pour modéliser le temps de contact individu-individu dans chaque type de lieux (ménage, travail, achat, loisirs, etc.).
      Ce temps est modélisé par une loi uniforme avec pour borne inférieure le temps minimal de contact, noté tmin, dépendant du type de lieux et une borne supérieure fixée ici à 1h : 
      <ul>
        <li> Ménage : [tmin,1] </li>
        <li> Travail (collègues proches) : [tmin,1] </li>
        <li> Travail (reste de l'entreprise) : [0.1*tmin,1]</li>
        <li> Achat : [0.9*tmin,1]</li>
        <li> Loisir : [0.9*tmin,1]</li>
        <li> Visite : [tmin,1] </li>
        <li> Démarche : [0.1*tmin,1]</li>
        <li> Santé : [0.3*tmin,1]</li>
        <li> Restaurant : [0.9*tmin,1] </li>
      </ul>
    </b-modal>

    <br><br>

    <div class="bannière">
    <label>Paramètres initiaux de la simulation </label></div><br>
   <div class="droit">  <h4 class="sélection"> Nombre d'individus contagieux au temps initial </h4>  <b-icon v-b-modal.t0 icon="exclamation-circle-fill" variant="info"> </b-icon> </div>
<select v-model="item.choix_t0" name="pets" id="sigma-select"> <!-- j'utilise la propriété vue v-model pour associer une valeur à ma structure item ici le quartier  -->
    <option v-for="item in choix_t0" v-bind:key="item"> {{item}} </option>   
</select>

<b-modal id="t0" size="lg" ok-only ok-variant="secondary" ok-title="Fermer">
      <template v-slot:modal-title> Nombre d'individus contagieux au temps initial </template>
      Dans ce modèle, un certain nombre d'individus sont déjà contagieux au temps initial de la simulation. Ce paramètre fixe ce nombre. 
      Ces premiers individus contagieux sont tirés aléatoirement sur l'ensemble de la population. Ce tirage est effectué pour chacune des simulations au sens Monte-Carlo.  
    </b-modal>

<br><br>
<b-button v-b-modal.modal-2 @click="Afficher_pop()">En savoir plus sur les autres paramètres du modèle </b-button>

<b-modal id="modal-2" size="xl" ok-only ok-variant="secondary" ok-title="Fermer">
      <template v-slot:modal-title> Les autres paramètres d'entrées du modèle ICI </template>
      <p>Les paramètres d'entrées du modèle ICI sont de deux types différents. </p>
      <p>Premièrement, il s'agit des <b>paramètres de la loi de contamination</b>, et se limite pour l'instant à trois. 
      Il s'agit des paramètres les plus susceptibles d'être modifier pour une même simulation. 
      Ces paramètres sont ceux de la fonction principale du code de calcul écrit dans le langage Julia. </p>
      <p>Deuxièmement, il s'agit de paramètres dont les valeurs sont plus ou moins connus et reconstruits à partir de la bibliographie existante sur la maladie.
      Ce sont des paramètres que l'utilisateur aura à modifier moins régulièrement. Ces paramètres sont localisés dans les modules du code Julia et sont les suivants :  </p>
      <ul>
        <li> <b>NB_DAY </b> :  nombre de jours simulés </li>
        <li> <b>NB_CONT </b> : nombre initial de contaminés </li>
        <li> <b>NB_MC  </b> : nombre de simulations à réaliser pour chaque jeu de paramètres (méthode Monte-Carlo)</li>
      <li> <b>MU_INCUB </b> : moyenne de la loi normale modélisant le temps d'incubation pour un individu </li>
      <li> <b> SIGMA_INCUB </b> : écart-type de la loi normale modélisant le temps d'incubation pour un individu </li>
      <li> <b>  MU_PROB </b>: moyenne de la loi normale modélisant le temps de départ de la contamination par rapport au temps d'incubation </li>
      <li> <b> SIGMA_PROB </b> : écart-type de la loi normale modélisant le temps de départ de la contamination par rapport au temps d'incubation </li>
      <li> <b>TAUX_ASYMP </b> : taux d'asymptomatique dans la population (taux général) </li>
      <li>  <b> ASYMP_AGE </b> : booléen permettant de choisir si le taux d'asymptomatique dépend de la classe d'âge dans la simulation </li>
      <li>  <b> ASYMP_AGE_VALUES </b> : vecteur contenant le taux d'asymptomatique par classe d'âges </li>
<li> <b>HOSPI_AGE_VALUES</b> : vecteur contenant le taux d'hospitalisation par classe d'âges (provient de [2021_Lapidus]) </li>
<li> <b> DEATH_AGE_VALUES </b> : vecteur contenant le taux de décès par classe d'âges (provient de [2021_Lapidus]) </li>
      
      <li> <b>SHAPE_YOUNG</b> : paramètre de forme (shape) de la loi de Weibull modélisant le délai entre le début des symptômes et l'entrée à l'hopital chez les moins de 20 ans (à partir du tableau 1 de [Faes et al., 2020]). </li>
      <li><b>SCALE_YOUNG</b> : paramètre d'échelle (scale) de la loi de Weibull modélisant le délai entre le début des symptômes et l'entrée à l'hopital chez les moins de 20 ans (à partir du tableau 1 de [Faes et al., 2020]).</li>
<li><b>SHAPE_MIDDLE</b> : paramètre de forme (shape) de la loi de Weibull modélisant le délai entre le début des symptômes et l'entrée à l'hopital chez les individus agés entre 20 ans et 60 ans (à partir du tableau 1 de [Faes et al., 2020]).</li>
<li><b>SCALE_MIDDLE</b> : paramètre d'échelle (scale) de la loi de Weibull modélisant le délai entre le début des symptômes et l'entrée à l'hopital chez les individus agés entre 20 ans et 60 ans (à partir du tableau 1 de [Faes et al., 2020]).</li>
<li><b>SHAPE_OLD</b> : paramètre de forme (shape) de la loi de Weibull modélisant le délai entre le début des symptômes et l'entrée à l'hopital chez les individus agés entre 60 ans et 80 ans (à partir du tableau 1 de [Faes et al., 2020]).</li>
<li><b>SCALE_OLD</b> : paramètre d'échelle (scale) de la loi de Weibull modélisant le délai entre le début des symptômes et l'entrée à l'hopital chez les individus agés entre 60 ans et 80 ans (à partir du tableau 1 de [Faes et al., 2020]).</li>
<li><b>SHAPE_VERYOLD</b> : paramètre de forme (shape) de la loi de Weibull modélisant le délai entre le début des symptômes et l'entrée à l'hopital chez les individus agés de plus de 80 ans (à partir du tableau 1 de [Faes et al., 2020]).</li>
<li><b>SCALE_VERYOLD</b> : paramètre d'échelle (scale) de la loi de Weibull modélisant le délai entre le début des symptômes et l'entrée à l'hopital chez les individus agés de plus de 80 ans (à partir du tableau 1 de [Faes et al., 2020]).</li>
<li><b>TRUNCATED</b> : délai à partir duquel la loi de Weibull modélisant le délai entre le début des symptômes et l'entrée à l'hopital est tronqué. </li>
<li><b>P_HOSPI_DEATH</b> : proportion de décès sur des délais longs (délai modélisé par une loi lognormale) pour les individus décédés à l'hopital sans passer par les soins intensifs (à partir de [Lefrancq et al., 2021]). </li>
<li><b>LAMBDA_HOSPI_DEATH</b> : paramètre de la loi exponentielle modélisant les décès à court terme des patients décédés à l'hopital sans passer par les soins intensifs (à partir de [Lefrancq et al., 2021]). Attention, le paramètre de la loi exponentielle défini dans la librairie Distributions est exprimée en 1/lambda. </li>
<li><b>MU_HOSPI_DEATH</b> : moyenne de la loi lognormale modélisant les décès à long terme des patients décédés à l'hopital sans passer par les soins intensifs (à partir de [Lefrancq et al., 2021]). </li>
<li><b>SIGMA_HOSPI_DEATH</b> : écart-type de la loi lognormale modélisant les décès à long terme des patients décédés à l'hopital sans passer par les soins intensifs (à partir de [Lefrancq et al., 2021]). </li>
<li><b>P_HOSPI_DISC</b> : proportion de sorties sur des délais longs (délai modélisé par une loi lognormale) pour les individus sortant de l'hopital sans passer par les soins intensifs (à partir de [Lefrancq et al., 2021]). </li>
<li><b>LAMBDA_HOSPI_DISC</b> : paramètre de la loi exponentielle modélisant les sorties à court terme des patients sorties de l'hopital sans passer par les soins intensifs (à partir de [Lefrancq et al., 2021]). Attention, le paramètre de la loi exponentielle défini dans la librairie Distributions est exprimée en 1/lambda. </li>
<li><b>MU_HOSPI_DISC</b> : moyenne de la loi lognormale modélisant les sorties à long terme des patients sorties de l'hopital sans passer par les soins intensifs (à partir de [Lefrancq et al., 2021]). </li>
<li><b>SIGMA_HOSPI_DISC</b> : écart-type de la loi lognormale modélisant les sorties à long terme des patients sorties de l'hopital sans passer par les soins intensifs (à partir de [Lefrancq et al., 2021]). </li> 
<li><b>LAMBDA_HOSPI_REA</b> : paramètre de la loi exponentielle modélisant les entrées en soins intensifs (à partir de [Lefrancq et al., 2021]). Attention, le paramètre de la loi exponentielle défini dans la librairie Distributions est exprimée en 1/lambda. </li> 
<li><b>P0_HOSPI_REA</b> : (pas encore utilisé ?) </li>
<li><b>SIGMA_REA_DEATH</b> : moyenne de la loi lognormale modélisant les délais de décès en soins intensifs (à partir de [Lefrancq et al., 2021]). </li>
<li><b>MU_REA_DEATH</b> : écart-type de la loi lognormale modélisant les délais de décès en soins intensifs (à partir de [Lefrancq et al., 2021]).  </li>
<li><b>SIGMA_REA_DISC</b> : moyenne de la loi lognormale modélisant les délais de sorties de soins intensifs (à partir de [Lefrancq et al., 2021]).</li>
<li><b>MU_REA_DISC</b> : écart-type de la loi lognormale modélisant les délais de sorties de soins intensifs (à partir de [Lefrancq et al., 2021]).  </li>
<li><b>PROBA_HOSPI_REA</b> : probabilités de passer en soins intensitifs selon la classe d'âge.</li>
<li><b>PROBA_HOSPI_DEATH</b> : probabilités de décéder à l'hopital sans passer par les soins intensifs selon la classe d'âge.</li>
<li><b>PROBA_HOSPI_DISC</b> : probabilités de sorties d'hopital sans passer par les soins intensifs selon la classe d'âge.</li>
<li><b>PROBA_REA_DEATH</b> : probabilités de décéder en soins intensifs selon la classe d'âge </li>
<li><b>PROBA_REA_DISC</b> : probabilités de sorties de soins intensifs selon la classe d'âge</li>
<li><b>NB_OUT</b> : nombre d'individus sortant du quartier en journée </li>
<li><b>NB_IN </b>: nombre d'individus entrant dans le quartier (à noter que ces individus ne sont pas définis dans le graphe initial).</li>
<li><b>TAUX_ETUD</b> : taux d'étudiants parmis les entrants </li>
<li><b>NBPERCLASS</b> : nombre moyen d'écoliers par classe</li>
<li><b>NBPERAMPHI</b> : nombre moyen d'étudiants par classe/amphithéâtre</li>
<li><b>LAMBDA_TISSU</b> : paramètre de la loi de Poisson caractérisant le tissu social au sein de l'entreprise (i.e. collèges proches) et au sein des établissements scolaires (i.e. camarades de classe). Pour ce tissu, les distances sont raccourcis lors du calcul de contamination. </li>
<li><b>MARKOV</b> : booléen permettant de choisir une modélisation des déplacements par les chaînes de Markov </li>
<li><b>STEP_TRIP</b> : nombres d'étapes journalières </li>
<li><b>TAUX_CAPA </b>: vecteur du taux d'individus sortant par statut social (actif, étudiant, écolier, retraité) </li>
      </ul>
    </b-modal>
<br><br> 

<div class="bannière">
 <label for="pet-select">Choix des interventions sanitaires <b>(bientôt disponible)</b></label></div><br>
<div class="checkbox">
      <input type="checkbox" v-model="confinement" id="age" :disabled="true" >
      <label for="confinement"> &nbsp; Confinement </label> <b-icon v-b-modal.confinement icon="exclamation-circle-fill" variant="info"> </b-icon>
    </div>

    <div class="checkbox">
      <input type="checkbox" v-model="confinement_ind" id="age" :disabled="true" >
      <label for="confinement_ind"> &nbsp; Confinement individualisé </label> <b-icon v-b-modal.confinement_ind icon="exclamation-circle-fill" variant="info"> </b-icon>
    </div>

    <div class="checkbox">
      <input type="checkbox" v-model="vaccination" id="age" :disabled="true" >
      <label for="vaccination"> &nbsp; Vaccination </label> <b-icon v-b-modal.vaccination icon="exclamation-circle-fill" variant="info"> </b-icon>
    </div>

<br><br>
    <div class="bannière">
    <label for="pet-select">Les indicateurs épidémiologiques</label> </div><br>
   <div class="droit">  <h4 class="sélection">Choix de l'indicateur épidémiologique </h4>  <b-icon v-b-modal.indic icon="exclamation-circle-fill" variant="info"> </b-icon> </div>
<select v-model="item.indic" name="pets" id="deb-select">  <!-- ici j'initialise ma valeur choix  -->
     <option v-for="item in indicateurs" v-bind:key="item"> {{item}} </option>                 
</select>
<b-modal id="indic" size="lg" ok-only ok-variant="secondary" ok-title="Fermer">
      <template v-slot:modal-title> Choix des indicateurs épidémiologiques </template>
      <p> Différents indicateurs épidémiologiques ont été calculés pour étudier la propagation de l'épidémie au sein de la population. Plus particulièrement, nous prenons en compte les suivant : 
                            <ul> 
                              <li> <b> Sains </b>: Cet indicateur présente le nombre total d'individus qui n'ont pas été exposés au virus.</li>
                              <li> <b> Exposés </b> : Cet indicateur présente le nombre de nouveaux individus exposés (journalier) qui ont été contaminés. C'est donc le nombre de nouvelles contaminations journalières.  </li>
                              <li> <b> Contaminants </b>: Cet indicateur présente le nombre total d'individus contagieux. </li>
                              <li> <b> Hospitalisés  </b> : Cet indicateur présente le nombre de nouvelles entrées à l'hôpital. </li>
                              <li> <b> Soins intensifs </b> : Cet indicateur présente le nombre de nouvelles entrées aux soins intensifs. </li>
                              <li> <b> Décès  </b> : Cet indicateur présente le nombre de nouveaux décès. </li>
                              <li> <b> Guéris </b>:  Cet indicateur présente le nombre total d'individus guéris</li>
                              </ul>  
                               </p>  
     <p> Il est possible d'afficher ces indicateurs suivant différentes normalisations : 
      <ul>
        <li> <b> En absolu </b>: l'indicateur est exprimé selon le nombre total d'individus de la population choisie </li>
        <li> <b> En normalisé par 1 </b>: l'indicateur est normalisé pour être compris entre 0 et 1, 1 étant la totalité de la population choisie  </li>
        <li> <b> Sur 100 000 habitants </b>: l'indicateur est ramené sur 100 000 habitants. </li>
      </ul>
      </p>

      <p> A noter que les indicateurs épidémiologiques sont représentés par leurs moyennes journalières calculées sur l'ensemble des simulations Monte-Carlo. 
        Plus précisément, commes les paramètres importants du modèle découlent de lois de probabilité, la simulation est réalisée un nombre important de fois sur le même jeu de paramètre afin de repérer les tendances globales.
        L'utilisateur peut également afficher les barres d'erreurs (voir dans les choix de paramètres de l'affichage graphique ci-dessous) représentant les quantiles à 10% et 90%. </p>
        
    </b-modal>

<select v-model="item.choix_norme" name="pets" id="sigma-select"> <!-- j'utilise la propriété vue v-model pour associer une valeur à ma structure item ici le quartier  -->
    <option v-for="item in norme" v-bind:key="item"> {{item}} </option>   
   <!--   <option value="sigmas[0]">Saint Victor - Paris 5ème</option>   /* j'essaie ici d'associer la valeur du tableau à l'option de la sélection du quartier */
                    <option value="Retraité">Retraité</option> -->
</select>

<br><br>
<div class="bannière">
 <label for="pet-select">Choix de la sous-population à étudier</label></div><br>
 <!-- <h4 class="sélection">Choix de la population </h4> -->

<div class="checkbox">
      <input type="checkbox" v-model="model_global" id="global" :disabled="(model_age) || (model_occup)">
      <label for="global"> &nbsp; Population globale </label> <b-icon v-b-modal.pop_globale icon="exclamation-circle-fill" variant="info"> </b-icon>
    </div>
    <br>

<b-modal id="pop_globale" size="lg" ok-only ok-variant="secondary" ok-title="Fermer">
      <template v-slot:modal-title> Choix de la population - Population globale </template>
      <p> Lorsque cette case est cochée, les indicateurs épidémiologiques sont calculés sur l'ensemble de la population de la zone géographique choisie par l'utilisateur. 
        Pour plus d'informations sur la population, veuillez cliquer sur le bouton "En savoir plus sur la population" présente dans le choix du quartier
        </p>        
    </b-modal>

<div class="checkbox">
      <input type="checkbox" v-model="model_occup" id="occup" :disabled="(model_global) || (model_age)" @click="Afficher_pop()">
      <label for="occup"> &nbsp; Selon les occupations et les flux </label> <b-icon v-b-modal.occup_flux icon="exclamation-circle-fill" variant="info"> </b-icon>
    </div>

<b-modal id="occup_flux" size="lg" ok-only ok-variant="secondary" ok-title="Fermer">
      <template v-slot:modal-title> Choix de la population - Selon les occupations et les flux </template>
      <p> Lorsque cette case est cochée, les indicateurs épidémiologiques sont calculés sur une sous-population dépendante de l'occupation et des flux. </p>
      <p> Les occupations sont les suivantes : </p>
        <ul> 
            <li> <b> Ecolier </b>: Les individus sont des écoliers allant dans une école maternelle, primaire, collège ou lycée durant la semaine entre le lundi et le vendredi. </li>
            <li> <b> Etudiant </b> : Les individus sont des étudiants allant à l'université ou dans une école du supérieur durant la semaine entre le lundi et le vendredi.  </li>
            <li> <b> Actif </b>: Les individus sont des employés allant dans une entreprise à temps plein. </li>
            <li> <b> Mi-temps  </b> : Les individus sont des employés allant dans une entreprise à mi-temps. </li>
            <li> <b> Non-employé </b> : Les individus n'ont pas d'emploi. </li>
            <li> <b> Retraité  </b> : Les individus sont à la retraite. </li>
          </ul> 
        <p> Les flux sont les suivants : </p>
        <ul> 
            <li> <b> Quartier </b>: Les individus habitent dans la zone géographique et restent dans ce quartier toute la journée.</li> 
            <li> <b> Sortant </b> : Les individus habitent dans la zone géographique et sortent pour aller travailler/étudier. </li>
            <li> <b> Entrant </b>: Les individus viennent travailler/étudier dans la zone géographique mais n'habitent pas la zone géographique. </li>
            <li> <b> Total  </b> : Il s'agit de la somme de ces trois flux.  </li>
          </ul> 

        <p> Pour plus d'informations sur le nombre d'individus dans chaque sous-population, veuillez cliquer sur le bouton "En savoir plus sur la zone géographique" présente dans le choix du quartier
        </p>        
    </b-modal>

<!-- <h4 class="sélection"> Selon les occupations et les flux  </h4> -->
   <select v-model="item.statut" name="pets" id="deb-select" :disabled="(!model_occup) || (model_global) || (model_age)">  <!-- ici j'initialise ma valeur choix  -->
     <option v-for="item in statut" v-bind:key="item"> {{item}} </option>            
</select>
<select v-model="item.flux" name="pets" id="deb-select" :disabled="(!model_occup) || (model_global) || (model_age)">  <!-- ici j'initialise ma valeur choix  -->
     <option v-for="item in flux" v-bind:key="item"> {{item}} </option>            
</select>
<br> <br>

<div class="checkbox">
      <input type="checkbox" v-model="model_age" id="age" :disabled="(model_global) || (model_occup)" @click="Afficher_pop()">
      <label for="age"> &nbsp; Selon la classe d'âge </label> <b-icon v-b-modal.age icon="exclamation-circle-fill" variant="info"> </b-icon>
    </div>

<b-modal id="age" size="lg" ok-only ok-variant="secondary" ok-title="Fermer">
      <template v-slot:modal-title> Choix de la population - Selon la classe d'âge</template>
      <p> Lorsque cette case est cochée, les indicateurs épidémiologiques sont calculés sur une sous-population dépendante de la classe d'âge des individus. </p>
      <p> Les classes d'âges sont les suivantes : </p>
        <ul> 
            <li> <b> 0-2 ans </b> </li>
            <li> <b> 3-5 ans </b> </li>
            <li> <b> 6-10 ans </b> </li>
            <li> <b> 11-17 ans </b> </li>
            <li> <b> 18-24 ans </b>  </li>
            <li> <b> 25-39 ans </b> </li>
            <li> <b> 40-54 ans </b> </li>
            <li> <b> 55-64 ans </b> </li>
            <li> <b> 65-79 ans </b>  </li>
            <li> <b> 80 ans et plus </b> </li>
          </ul> 
       
        <p> Pour plus d'informations sur le nombre d'individus dans chaque classe d'âge, veuillez cliquer sur le bouton "En savoir plus sur la zone géographique" présente dans le choix du quartier
        </p>        
    </b-modal>

<!-- <h4 class="sélection"> Selon la classe d'âge </h4> -->
<select v-model="item.age" name="pets" id="deb-select" :disabled="(!model_age) || (model_global) || (model_occup)">  <!-- ici j'initialise ma valeur choix  -->
     <option v-for="item in class_age" v-bind:key="item"> {{item}} </option>            
</select>


<br><br>

  <div class="bannière">
    <label>Paramètres de l'affichage graphique</label></div><br>

    <div class="checkbox">
      <input type="checkbox" v-model="barre_erreur_status" id="barre">
      <label for="barre"> &nbsp; Afficher les barres d'erreurs  </label>  <b-icon v-b-modal.error_bar  icon="exclamation-circle-fill" variant="info"> </b-icon>  <!-- ici je rajoute les 2 chekbox lorsque la biblithèque plotly js sera ajoutée à l'interface graphique  -->
    </div>

    <b-modal id="error_bar" size="lg" ok-only ok-variant="secondary" ok-title="Fermer">
      <template v-slot:modal-title> Les barres d'erreur </template>
      <p> Pour les indicateurs épidémiologiques, il est possible d'intégrer les barres d'erreur au graphique. Ces barres d'erreurs représentent les quantiles à 10% et 90% de l'indicateur calculé 
        sur chaque journée simulée sur l'ensemble des simulations au sens Monte-Carlo. </p>  
              <center> <img src="../images/error_bar.png" width=60% vertical-align="middle" /> </center>
    </b-modal>


    <div class="checkbox">
      <input type="checkbox" v-model="cons_graph_status" id="cons">
      <label for="cons"> &nbsp; Superposer les graphes successifs </label> <b-icon v-b-modal.graph_succes  icon="exclamation-circle-fill" variant="info"> </b-icon>
    </div>
    <br>

  <b-modal id="graph_succes" size="lg" ok-only ok-variant="secondary" ok-title="Fermer">
      <template v-slot:modal-title> Superposition de courbes </template>
      <p> En cochant cette option, il est possible de conserver et de superposer les courbes des indicateurs épidémiologiques dépendant des paramètres choisis par l'utilisateur.
         En décochant l'option, seule la nouvelle courbe sera affichée à l'écran. 
         </p>  
              <center> <img src="../images/graph_succ.png" width=60% vertical-align="middle" /> </center>
    </b-modal>
    <b-button class="afficher" @click="Afficher_pop();Afficher_ICI();">Afficher</b-button>  <!-- ici je créer une méthode qui éxécute la fonction enregistrer plus bas lorsqu'on clique sur le bouton  -->

    <br><br>

   </div>

  <div id="graphs" class="graphique" v-bind:class="{ empty: afficher_graphe === 0 }">
  <template v-if="afficher_graphe === 0">
  <p class="h5"><i>Cliquez sur "Afficher" pour rendre visible les graphiques associés aux paramètres</i></p>
  </template>
  <template v-else>
  <plotly-ici :chart="chart"></plotly-ici> 
  </template>
  </div>


 <!-- <div class="resultat"> -->
 <!-- <p >Global infected : {{res_post[0]}}</p> -->  <!-- ici on affiche la valeur de la requête renvoyée par la route global  -->
 <!-- </div> --> 
 </form>
 <!--  --> <!-- tentative d'envoie de la valeur au backend avec un formulaire et une méthode post -->
 
</div>
  
</template>

<script>
import axios from 'axios' ; /* ici j'importe la biblithèque axios */
import Plotly from 'plotly.js-dist' ; 
const sigma = document.querySelector('#sigma-select');// eslint-disable-line no-unused-vars 
const proba = document.querySelector('#proba-select'); // eslint-disable-line no-unused-vars
const deb = document.querySelector('#deb-select'); // eslint-disable-line no-unused-vars

const Plotly_ICI = {
    props: ['chart'],
    render(h) {
        return h('div', {
            attrs: {
                id: this.chart.uuid,
            }
        });
    },

    mounted() {
        this.$nextTick(function () {
        console.log(this.chart.uuid) ; 
        Plotly.react(this.chart.uuid,this.chart.traces,this.chart.layout);
        });
    },

    watch: {
        chart: {
        handler: function() {
         this.$nextTick(function () {
                Plotly.react(this.chart.uuid,this.chart.traces,this.chart.layout );
                console.log("je change !") ; 
            }) ; 
      },
      deep: true
    }
  }

};

/* eslint-disable */  /* je desactivel'eslint pour cette partie */
export default {
  name: 'MyFormulaire',  /* j'exporte le nom de mon composant afin de le réutiliser sur une autre page donc HomeView.vue */
  
  components: {
        'plotly-ici': Plotly_ICI, 
    },

  data () { /* ici je définit mes données une par une */
    return {
         debug: false,
         utilisateurs: [],
         mu_prob: [], 
         dist_contact: [],
         time_contact: [], 
         sigmas: [],
         mudebs: [],
         norme: ["En absolu","En normalisé sur 1","sur 100 000 individus"],
         val_norme: 1.0, 
         quartier: [], 
         graph_name: [], 
         nb_pop_gen: [], 
         version_simulateur: [], 
         color_graph: ['#1f77b4','#ff7f0e','#2ca02c','#d62728','#9467bd','#8c564b','#e377c2','#7f7f7f', '#bcbd22','#17becf'],
         indicateurs: ["Sains","Exposés","Contaminants","Hospitalisés","Soins intensifs","Décès","Guéris"], 
         statut: ["Ecolier","Etudiant","Actif","Mi-temps","Non-employé","Retraité"],
         class_age: ["0-2 ans","3-5 ans","6-10 ans","11-17 ans","18-24 ans","25-39 ans","40-54 ans","55-64 ans","65-79 ans","+ 80 ans"], 
         flux: ["Quartier","Sortant","Entrant","Total"],  
         res_post:[],
         afficher_graphe: 0, 
         paramError: {},
         running: false,
         indice_graphe: 0,
         choix_t0 : ["5"],
         pop: {
          total: [],
          per_occup_flux : [],
          per_age : [], 
         },
         item: {
          probability: 0.01,
          dist: 0.8,
          time: 0.9,
          choix_t0: "5",
          quartier: "Paris V - Jussieu/St-Victor", 
          v_code:[], 
          indic: "Sains",
          pop: [], 
          statut: "Ecolier",
          age: "65-79 ans",
          choix_norme: "En absolu",
          flux: "Total", },
        glob: [],
        global: [],
        probabilitys:[],
        errs: [],
        panel_open: true,
        panel_width: null,
        resizing: false,
        cons_graph_status: false, 
        barre_erreur_status: true,
        model_global: true, 
        model_occup: false,
        model_age: false, 
        chart: {
                uuid: "graphs",
                traces: [] ,
                layout: {
                    legend: {
                        xanchor:"right",
                        yanchor:"top",
                        x: 1.1,
                        y: 1 
                        },  
                    title:'Principaux indicateurs de la propagation de l\'épidémie de Covid-19',
                    xaxis: {
                        title: 'Nombre de jours'
                    },
                    yaxis: {
                        title: 'Nombre de cas journaliers'
                    }
                }
            }, 
    }
    
  },
  /* Vue.set(item, probability), */ /* ici je teste de récupérer la valeur de item.probability avec vue.set */
  mounted(){ /* mounted sert à récupérer les donniers qui proviennent de l'extérieur du fichier */
    
    /* #########################  ON RECUPERE LES VALEURS DE SIGMA ########################### */ 
    axios.get('/server/api/getdistinctvalues') /* j'effectue une requête vers la route ou sont contenu les valeurs de mu_prob */
    .then((response) => { /* ici je renvoie une réponse */
      console.log(response.data); /* que j'affiche dans la console */
      this.mu_prob = response.data.mu; /* puis que je stocke dans la variable utilisateurs */
      this.dist_contact = response.data.dist ; 
      this.time_contact = response.data.time ; 
    })
    .catch((error) => { /* si la requête renvoie une erreur je l'affiche dans ma console */
      console.log(error);
    })
    /* ####################################################################################### */

    /* ########################## ON RECUP ################################ */ 
     axios.get('/server/api/sigma') /* j'effectue une requête vers la route ou sont contenu les valeurs de sigma (exemple pour les autres paramètres) */
    .then((response) => { /* ici je renvoie une réponse */
      console.log(response.data); /* que j'affiche dans la console */
      this.sigmas = response.data; /* puis que je stocke dans la variable utilisateurs */
    })
    .catch((error) => { /* si la requête renvoie une erreur je l'affiche dans ma console */
      console.log(error);
    })
    /* ####################################################################################### */

    /* ############################ ON RECUPERE LES NOMS DES GRAPHES ######################### */ 
    axios.get('/server/api/graph_name') /* j'effectue une requête vers la route ou sont contenu les valeurs de sigma (exemple pour les autres paramètres) */
    .then((response) => { /* ici je renvoie une réponse */
      console.log(response.data); /* que j'affiche dans la console */
      this.graph_name = response.data.graph_name;
      this.nb_pop_gen = response.data.nb_pop ; /* puis que je stocke dans la variable utilisateurs */
    })
    .catch((error) => { /* si la requête renvoie une erreur je l'affiche dans ma console */
      console.log(error);
    })
    /* ####################################################################################### */

    /* ############################ ON RECUPERE LA VERSION DU GRAPHE ######################### */ 
    axios.get('/server/api/v_simulateur') /* j'effectue une requête vers la route ou sont contenu les valeurs de sigma (exemple pour les autres paramètres) */
    .then((response) => { /* ici je renvoie une réponse */
      console.log(response.data); /* que j'affiche dans la console */
      this.version_simulateur = response.data; /* puis que je stocke dans la variable utilisateurs */
    })
    .catch((error) => { /* si la requête renvoie une erreur je l'affiche dans ma console */
      console.log(error);
    })
    /* ####################################################################################### */
    
  },
methods: { /* methods est l'endroit ou l'on créer nos fonctions qui sont associés à des éléments ici le bouton afficher */
        
    async enregistrer () { /* ici on créer notre méthode enregistrer */
        await axios.post('/server/api/recup_value', {
          probability: parseFloat(this.item.probability), 
          dist: parseFloat(this.item.dist), 
          time: parseFloat(this.item.time),
          indic: this.item.indic,
          bool_global: this.model_global,
          bool_occup: this.model_occup,
          bool_age: this.model_age,
          age: this.item.age,
          occup: this.item.statut,
          flux: this.item.flux,
          }) /* on définit la probability(qu'on récupère dans le backend avec probabilité: req.body.probability) et on rajoute parseFloat pour enlever les "" pour être sur que c'est bien un float qu'on récupère */
        .then((response) => { /* ici je renvoie une réponse */
          console.log(response.data); /* que j'affiche dans la console */
          this.res_post = response.data; /* puis que je stocke dans la variable utilisateurs */
          /* flatArray = json_decode(this.item, true);*/ /* test pas concluant */
        }) 

         /* ici peut associer les autres valeurs pour les récupérez également (juste pour l'exemple) */
      
      console.log(this.res_post)  /* puis on affiche la structure item soumis lors de la validation du formulaire lorsqu'on clique sur le bouton et qu'on active la method enregistrer() */

      },

      calcul_norm: function() {

        var val_norm = null ; 
        var age_json = null ; 
        console.log(this.item.choix_norme) ; 
        console.log(this.item.age) ; 

        if(this.model_age) {

          switch(this.item.age) {
                case '0-2 ans' :
                    age_json = "0_2" ;
                    break;  
                case '3-5 ans' :
                    age_json = "3_5" ;
                    break; 
                case '6-10 ans':
                    age_json = "6_10" ;
                    break;
                case '11-17 ans':
                    age_json = "11_17" ;
                    break; 
                case '18-24 ans':
                    age_json = "18_24" ;
                    break;
                case '25-39 ans':
                    age_json = "25_39" ;
                    break; 
                case '40-54 ans':
                    age_json = "40_54" ;
                    break; 
                case '55-64 ans':
                    age_json = "55_64" ;
                    break;
                case '65-79 ans':
                    age_json = "65_79" ;
                    break;
                case "+ 80 ans":
                    age_json = "80p" ;
                    break;
            }
        }

          if(this.item.choix_norme == "En absolu") {

            if(this.model_global) {
              val_norm = 1.0 ; 
            } else if(this.model_occup) {
              if(this.item.flux == "Total") {
                  val_norm = 1.0/parseFloat(this.pop.per_occup_flux[`${this.item.statut}`]) ;  
                } else {
                  val_norm = 1.0/parseFloat(this.pop.per_occup_flux[`${this.item.flux}_${this.item.statut}`]) ;  
                }  
            }  else {
               val_norm = 1.0/parseFloat(this.pop.per_age[`${age_json}`])
            }

          } else if(this.item.choix_norme == "En normalisé sur 1") {

            console.log(this.pop.total) ; 
             if(this.model_global) {
                  val_norm = parseFloat(this.pop.total) ; 
              } else if(this.model_age) {
                  val_norm = 1.0 ; 
              } else {
                  val_norm = 1.0 ;  
              } 

          } else {

              if(this.model_global) {
                  val_norm = parseFloat(this.pop.total)/100000.0 ;  
              } else if(this.model_age) {
                  val_norm = 1.0/100000.0 ; 
              } else {
                  if(this.item.flux == "Total") {
                    val_norm = 1.0/100000.0 ;  
                } else {
                    val_norm = 1.0/100000.0 ;  
                }
              }
          } 
          
          return(val_norm) ; 
          
      }, 

      addGraph: function(val_norm,data1, data2, data3){ 

            const divideNum = num => num/val_norm ; 
            
            /* const newdata1 = data1.map(divideNum) ; */
            /* console.log(newdata1) ; */
            
            this.chart.traces.push({y: data1.map(divideNum), name: 'Quantile - 90%', showlegend: false, line: {color:"transparent", width: 2, shape: "line"} }) ; 
            this.chart.traces.push({y: data2.map(divideNum), name: this.name_legend(),  fill: 'tonexty', fillcolor:this.hexToRGB(this.color_graph[this.indice_graphe],0.5),line: { width: 2, shape: "line", color:this.hexToRGB(this.color_graph[this.indice_graphe],1) } }) ; 
            this.chart.traces.push({y: data3.map(divideNum), name: 'Quantile - 10%', fill: 'tonexty', showlegend: false,  fillcolor: this.hexToRGB(this.color_graph[this.indice_graphe],0.5) ,line: { color:"transparent",width: 2, shape: "line"}  }) ;       
        
        }, 

        addGraph_serror: function(val_norm, data){ 

            const divideNum = num => num/val_norm ; 
            this.chart.traces.push({y: data.map(divideNum), name: 'Moyenne', line: { width: 2, shape: "line", color:this.hexToRGB(this.color_graph[this.indice_graphe],1) } }) ; 
        
        }, 

        hexToRGB: function (hex, alpha) {
            var r = parseInt(hex.slice(1, 3), 16),
                g = parseInt(hex.slice(3, 5), 16),
                b = parseInt(hex.slice(5, 7), 16);

           if (alpha) {
                return "rgba(" + r + ", " + g + ", " + b + ", " + alpha + ")";
            } else {
                return "rgb(" + r + ", " + g + ", " + b + ")";
            }
        },
        
        
        name_legend: function(){
            return "Pour facteur de transmission : " + this.item.probability + " Distance min : " + this.item.dist + " m " + " Temps min :  " + this.item.time + " h" ; 
        },

  
    async Afficher_pop() {

      await axios.post('/server/api/info_pop', {
          name_graph: this.quartier  
          }) /* on définit la probability(qu'on récupère dans le backend avec probabilité: req.body.probability) et on rajoute parseFloat pour enlever les "" pour être sur que c'est bien un float qu'on récupère */
        .then((response) => { /* ici je renvoie une réponse */
          console.log(response.data); /* que j'affiche dans la console */
          this.pop.total = response.data.total; /* puis que je stocke dans la variable utilisateurs */
          this.pop.per_occup_flux = response.data.per_occup_flux ; 
          this.pop.per_age = response.data.per_age ; 
          /* flatArray = json_decode(this.item, true);*/ /* test pas concluant */
        }) 
    }, 

    async Afficher_ICI(){
                   
            this.running = true ; 
            var val_norm = null ; 

            val_norm = this.calcul_norm() ;

            try {

                this.afficher_graphe = 1 ;

                if(this.cons_graph_status === false){
                    console.log("Il faut réinitialiser le graphe à O") ; 
                    this.chart.traces = [] ; 
                    this.indice_graphe = 0 ; 
                } else {
                    this.indice_graphe = (this.indice_graphe + 1) % this.color_graph.length ; 
                }; 

                await this.enregistrer() ; 



                if(this.barre_erreur_status === true) {
                  this.addGraph(val_norm,this.res_post[0],this.res_post[1],this.res_post[2]) ; 
                } else {
                  this.addGraph_serror(val_norm,this.res_post[1]) ; 
                } ; 

                this.chart.layout.title = `Suivi de la propagation de l\'épidémie` ; 
                this.chart.layout.xaxis.title = `Nombre de jours` ;
                this.chart.layout.yaxis.title = this.item.indic + ' ' +  this.item.choix_norme ;

            } catch (e) {
                console.log("ARF") ; 
                this.errs.push({
                    message: 'Unable to plot the graph.',
                }) 
                this.panel_open = true ;
            }
            
            this.running = false ; 
            
        },

    },

    }
  
   


</script>

<style scoped>
.formulaire{
  float: left;
  width : 30%;
  margin-top : 20px;
  border: 1px solid black;
  padding-top : 10px;
  background-color : white;
  color : white;
}

.graphique{
  float: right;
  width : 68%;
  height: 50%; 
  margin-top : 10px;
  margin-right: 15px; 
  padding-top : 10px;
  color : white;
}

.afficher{
  background-color : #007bff;
}
.afficher:hover{
  background-color : blue;
}

.afficher_pop{
  background-color : #ff00f7;
}
.afficher_pop:hover{
  background-color : rgb(208, 0, 255);
}

.body{
  display: flex;
}
.resultat{
  float: middle;
  width : 100%;
  margin: 0 auto;
  padding-top : 10%;
  color: white;
}
.bannière{
  background-color : black;
  padding: 10px;
}
.paramètres{
  color: black;
  font-size: 24px;
  padding : 10px;
}
.sélection{
  color : black;
  font-size : 16px;
}
.checkbox{
  color : black;
  margin-right: 5px;
}
#horns{
  margin-right: 5px;
}
#scales{
  margin-right: 5px;
}
.result{
  color: black;
}
.droit{
  display : flex;
  margin : 0 auto;
  justify-content: center;
}
.droit > h4{
  margin-right : 5px;
}
.form{
  width : 100%;
}
table
{
    border-collapse: collapse;
}
td, th /* Mettre une bordure sur les td ET les th */
{
    border: 1px solid black;
}
</style>
